*. body {
  font-family: "Ubuntu", sans-serif;
}

:root {
}

.header-content {
}

.hero {
  font-weight: 400;
}

.hero-line {
  font-family: "Acme", sans-serif;
}

.skills {
}

.projects {
}

.contact {
}

.footer-content {
}
