* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

:root {
}

.container {
}

.header-content {
}

.hero {
  font-weight: 400;
}

.hero-line {
  font-family: "Acme", sans-serif;
}

.skills {
}

.projects {
}

.contact {
}

.footer-content {
}

/* Background */
.bg-light {
}

.bg-dark {
}

/* Button */
.btn {
}

.btn-light {
}

.btn-dark {
}

/* Navigation */

nav.navbar {
}

a.navbar-brand {
}

.navbar-toggler {
}

ul.navbar-nav {
}

li.nav-item {
  list-style: none;
}

a.nav-link {
  text-decoration: none;
}

/* Margin */
m-0 {
  margin: 0 !important;
}

m-1 {
  margin: 0.1em !important;
}

/* Padding */
